<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link type="image/x-icon" rel="shortcut icon" href="../favicon.ico">
    <title>Admin panel</title>
</head>
<body>
<nav class="navbar fixed-top navbar-dark bg-dark" id="adminNavbar">
    <div>
    </div>
</nav>
</br>
</br>
<div class="d-flex align-items-start" aria-orientation="vertical">
    <div class="nav flex-column nav-pills me-4 col-2" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <button class="nav-link active text-start" id="v-pills-home-tab" data-bs-toggle="pill"
                data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home"
                aria-selected="true">Admin
        </button>
        <button class="nav-link text-start" onclick="window.location.href='/user/userInfo'"
                aria-selected="false">User
        </button>
    </div>
    <div class="tab-content col-9" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab"
             tabindex="0">
            <h1>Admin panel</h1>
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                            type="button"
                            role="tab" aria-controls="nav-home" aria-selected="true">Users table
                    </button>
                    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                            type="button"
                            role="tab" aria-controls="nav-profile" aria-selected="false">New User
                    </button>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"
                     tabindex="0">
                    <h5 class="p-3 bg-secondary bg-opacity-10 border-start-0 rounded-end">
                        All users
                    </h5>
                    <table class="table table-striped" id="mainTableWithUsers">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Age</th>
                            <th scope="col">Email</th>
                            <th scope="col">Role</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                        </thead>
                        <tbody class="table-striped">
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab"
                     tabindex="0">
                    <h5 class="p-3 bg-secondary bg-opacity-10 border-start-0 rounded-end">
                        Add new user
                    </h5>
                    <div class="body center-block">
                        <div class="text-center">
                            <form id="addForm">
                                <div class="row justify-content-md-center">
                                    </br>
                                    <div class="col-4">
                                        <h6>First name</h6>
                                        <label for="firstNameAdd" class="visually-hidden">First name</label>
                                        <input type="text" class="form-control" name="firstName"
                                               id="firstNameAdd"
                                               placeholder="First name">
                                    </div>
                                </div>
                                </br>
                                <div class="row justify-content-md-center">
                                    <div class="col-4">
                                        <h6>Last name</h6>
                                        <label for="lastNameAdd" class="visually-hidden">Last name</label>
                                        <input type="text" class="form-control" name="lastName" id="lastNameAdd"
                                               placeholder="Last name">
                                    </div>
                                </div>
                                </br>
                                <div class="row justify-content-md-center">
                                    <div class="col-4">
                                        <h6>Age</h6>
                                        <label for="ageAdd" class="visually-hidden">Age</label>
                                        <input type="number" class="form-control" name="age" id="ageAdd"
                                               placeholder="Age">
                                    </div>
                                </div>
                                </br>
                                <div class="row justify-content-md-center">
                                    <div class="col-4 has-validation">
                                        <h6>Email</h6>
                                        <label for="emailAdd" class="visually-hidden">Email</label>
                                        <input type="email" class="form-control" name="email" id="emailAdd"
                                               placeholder="Email" required>
                                    </div>
                                </div>
                                </br>
                                <div class="row justify-content-md-center">
                                    <div class="col-4 has-validation">
                                        <h6>Password</h6>
                                        <label for="passwordAdd" class="visually-hidden">Password</label>
                                        <input type="password" class="form-control" name="password"
                                               id="passwordAdd"
                                               placeholder="Password" required>
                                    </div>
                                </div>
                                </br>
                                <div class="row justify-content-md-center">
                                    <div class="col-4 has-validation">
                                        <h6>Role</h6>
                                        <select class="form-select" size="2" aria-label="Size 2 select" id="roleAdd"
                                                required>
                                            <option value="ADMIN">ADMIN</option>
                                            <option value="USER" selected>USER</option>
                                        </select>
                                    </div>
                                </div>
                                </br>
                                <button type="button" id="addButton" class="btn btn-success">Add new user</button>
                                </br>
                                </br>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="editModelLabel">Edit user</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>

            <div class="modal-body center-block">
            </div>

            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteModalLabel">Delete user</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>

            <div class="modal-body center-block">
            </div>

            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<script
        src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
<script src="/js/admin.js"></script>
</body>
</html>
